
.Animate {
	&-split-lines {
		overflow: hidden;

		.line {
			overflow: hidden;
		}
	}

	&-fade-in {
		animation-name: fade-in;
		animation-duration: 2.5s;
		animation-timing-function: ubic-bezier( .55,  .055,  .675,  .19 );
	}
}

@keyframes fade-in {
    0% { 
    	opacity: 0; 
   	}
    100% { 
    	opacity: 1; 
   	}
}

@keyframes progress-bar {
    0% {
        transform: scaleX( 0 );
    }
    100% {
        transform: scaleX( 1 );
    }
}