---

layout: page

---

<article class="Site-container Monster {{ page.title | downcase | replace: ' ', '-' | replace: ',', '' | replace: 'é', 'e' | replace: 'ê', 'e' | prepend: 'Monster--' }}">

	<header class="Monster-header">
		<h1 class="Monster-title">
			{{ page.title | append: '™' }}
		</h1>
	</header>
	

	<!-- Subheader -->
	<div class="Monster-subheader"></div>
	
	
	<div class="Monster-description">
		
		<div class="Monster-description__inner">
			{% for monster in page.monsters %}
				
				{% assign slug = monster | downcase | replace: ' ', '-' | replace: ',', '' | replace: 'é', 'e' | replace: 'ê', 'e' | replace: ',', '' | replace: 'Â', 'a' %}
				{% assign details = site.data.monsters[slug].details %}
				{% assign characteristics = site.data.monsters[slug].characteristics %}

				{% include loop.html datas=details %}
				{% include loop.html datas=characteristics %}

			{% endfor %}
		</div><!--
		
		
	 --><div class="Monster-description__inner">
			<img 
				class="Monster-image" 
				src="{{ page.image.src | absolute_url }}" 
				alt="{{ page.title }}" 
				style="{{ page.image.style }}"
				width="{{ page.image.width }}"
				height="{{ page.image.height }}"
			>
		</div>
	
		
	</div>

	<!-- Content -->
	<div class="Monster-content">
		{{ content }}
	</div>

<!-- 	<div class="row">
		
			
		<div class="col-xs-12">
			<header class="post-header">
				<h1 class="color-blue-dark-moderate-02 post-title font-title">
					{{ page.title | escape }}
				</h1>
			</header>
		</div>
	</div> -->
	

	


</article>